@import 'tailwindcss';
@import 'uniwind';

@theme {
    --color-background: #000000;
    --color-surface: #18181b;
    --color-surface-hover: #27272a;
    --color-border: #27272a;
    --color-primary: #006fee;
    --color-primary-foreground: #ffffff;
    --color-foreground: #ecedee;
    --color-muted: #71717a;
    --color-warning: #f5a524;
    --color-success: #17c964;
    --color-danger: #f31260;
}
